<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<h1>UPDATE PRODUCT</h1>

<form action="/update" method="post" >
    <div>
        <div class="form-floating mb-3" size="20">
            <input type="hidden" name="idProducts" th:value="${product.id}">
            <input type="text" class="form-control" name="name" id="floatingInput" th:value="${product.name} "placeholder="name" >
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mb-3" size="20">
            <input type="text" class="form-control" name="price" id="floatingInput2" th:value="${product.price} "placeholder="price" >
            <label for="floatingInput2">Price</label>
        </div>

        <div>
            <input type="submit" value="Opdater">
        </div>
    </div>
</form>
</body>
</html>